@charset "utf-8";
/* CSS Document */
html,body{ width:auto; }
body{ background:url(../images/bg.jpg); margin:0; padding:0;text-align:center;  
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-weight: normal;  
  line-height: 1.6;}
.content{ margin:0px auto; }
.maxWidth {
  margin: 0 auto;  max-width: 640px;
}
.flex2 { line-height: 1.6; text-align:left;

}
.flex2 .flex3 { padding-top:20px;  font-weight:bold;  text-align:left; color:#a8371e;
}

.left-img { float: left; }